@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body{
    font-family: "Inter", sans-serif;
    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* shared style start here */
.container{
    width: 90%;
    margin: 0 auto;
}
.main-container{
    background-color: black;
    height: 100%;
}
.primary-btn{
    color: white;
    background-color: rgb(230, 83, 60);
    width: 224px;
height: 54px;
    border: none;
    border-radius: 42px;
    font-size: 1.12rem;
}
.primary-h2{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    color: white;
    padding-top: 100px;
} 
.primary-p{
    font-size: 0.87rem;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: center;
color: white;

}
.primary-h5{
    font-size: 1.25rem;
font-weight: 600;
color: white;
text-align: center;
margin-top: 25px;
margin-bottom: 5px;
}


/* shared style end here */
/* header section style */
header{
    width: 100%;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(0, 0, 0, 0.257) 100%);
    height: 715px;  
    
}

/* navbar style start here */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
}
.nav-title h3{
    color: rgb(230, 83, 60);
    font-size:2.25rem ;
    font-weight: 800;
    margin-top: 60px;

}
.ham-burger{
    display: none;
}
.nav-option{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    border:1px solid rgba(255, 255, 255, 0.1) ;
    border-radius: 40px;
    padding: 0 10px 0 5px;
    font-size: 1.12rem;
    color: white;
    margin-top: 60px;
}
.nav-option .home{
    color: white;
    background-color:rgb(230, 83, 60) ;
    padding:10px 20px;
    border-radius:46px ; 

}

/* navbar style end here */

/*header content style start here */
.fitness-content{
    width: 45%;
    height: 100%;
    margin-top: 100px;
}

.fitness-container{
    display: flex;
    justify-content: space-between;
    align-items: centere;
}
.fitness-img{
   width:29.1667%;
height: 580px;
margin-right: 50px;
}
.fitness-content h1{

    font-size: 4.87rem;
    font-weight: 900;
    line-height: 120%; 
    color: white;
}
.fitness-content .span{
    font-family: "Dancing Script", cursive;
    font-weight: 300;
}
.fitness-content p{
    font-size: 1rem;
    font-weight: 400;
    line-height:  24px;
    color: rgba(255, 255, 255, 0.5);

}
.header-btn{
    margin-top: 45px;
}
.header-btn .dnld-btn{
    padding: 16px 40px;
    font-size: 1.12rem;
    background-color: transparent;
    border: 1px solid 1px	Inside
    rgb(255, 255, 255);
    border-radius: 42px
}


/*header content style end here */

/* main section style */
.pratice-image{
    width: 20%;
    height: 30%;
}
.habit-img{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
.pratice-image img{
    
border-radius: 50%;
margin-left: 20px;
}

/* .section2-content {
    width: 443px;
    height: 290px;
} */
.section2-content h2{
   padding: 0;
   margin-left: 55px;
   text-align: left;
 
}
.section2-content p{
   
   margin-left: 55px;
   text-align: left;
 
}
.section2-content #run-btn{
   
   margin-left: 55px;
   margin-top: 15px;
   justify-items: center;
 
}

.section2-img img{
    width: 366px;
height: 312px;
border-radius: 18px;
margin: 30px;
}

.section2-container{
    margin-top: 100px;
    width: 1060px;
height: 371px;
    display: flex;
    justify-content: space-between;
    gap: 165px;
    align-items: center;
    border-radius: 18px;

background: rgb(34, 34, 34);
}

.bmi-container{
    margin: 0 auto;
    width: 671px;
margin-bottom:90px ;


}
.bmi-container h2, p{
    text-align: left;
}
.bmi-content{
    width: 100%;
    background: rgb(34, 34, 34);
    
}
.bmi-item{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.bmi-table{
    
    

}

.bmi-h3{
    color: white;
    margin-bottom: 50px;
    font-size: 1.75rem;
font-weight: 900;
padding-top: 50px;
}

.bmi-table td, th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    padding: 20px;
    
}
.bmi-table table{
    border-collapse: collapse;
    
    
}
.bmi-table th{
    font-size: 1rem;
font-weight: 500;
text-align: left;
;
}

.bmi-table td{
    font-size: 0.87rem;
font-weight: 400;
color: rgba(255, 255, 255, 0.5);
}

.calculator-title p{
    text-align: left;
   
    
}
.calculator-title > h3{
    margin-bottom: 10px;
    
}














/* mobile responsive style atart here  */

@media screen and (max-width: 576px) {
    header{
        width: 100%;
    }
    .nav-option{
        display: none;
    }
    .fitness-container{
        flex-direction: column;
        height: auto;
    }
    .fitness-content{
        width: 40%;
    }
    .fitness-content h1{
        font-size: 2rem;
        
    }
    .fitness-content p{
        font-size: 0.87rem;
    }
    .header-btn{
        display: flex;
        padding: 0;
    }
}