@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body{
    font-family: "Inter", sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* shared style start here */
.container{
    width: 90%;
    margin: 0 auto;
}
.primary-btn{
    color: white;
    background-color: rgb(230, 83, 60);
    padding: 16px 40px;
    border: none;
    border-radius: 42px;
    font-size: 1.12rem;
}


/* shared style end here */
/* header section style */
header{
    width: 100%;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    height: 715px;  
    
}

/* navbar style start here */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
}
.nav-title h3{
    color: rgb(230, 83, 60);
    font-size:2.25rem ;
    font-weight: 800;
    margin-top: 60px;

}
.ham-burger{
    display: none;
}
.nav-option{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    border:1px solid rgba(255, 255, 255, 0.1) ;
    border-radius: 40px;
    padding: 0 10px 0 5px;
    font-size: 1.12rem;
    color: white;
    margin-top: 60px;
}
.nav-option .home{
    color: white;
    background-color:rgb(230, 83, 60) ;
    padding:10px 20px;
    border-radius:46px ; 

}

/* navbar style end here */

/*header content style start here */
.fitness-content{
    width: 45%;
    height: 440px;
    margin-top: 100px;
}

.fitness-container{
    display: flex;
    justify-content: space-between;
    align-items: centere;
}
.fitness-img{
   width:29.1667%;
height: 580px;
margin-right: 50px;
}
.fitness-content h1{

    font-size: 4.87rem;
    font-weight: 900;
    line-height: 120%; 
    color: white;
}
.fitness-content .span{
    font-family: "Dancing Script", cursive;
    font-weight: 300;
}
.fitness-content p{
    font-size: 1rem;
    font-weight: 400;
    line-height:  24px;
    color: rgba(255, 255, 255, 0.5);

}
.header-btn{
    margin-top: 45px;
}
.header-btn .dnld-btn{
    padding: 16px 40px;
    font-size: 1.12rem;
    background-color: transparent;
    border: 1px solid 1px	Inside
    rgb(255, 255, 255);
    border-radius: 42px
}




/*header content style end here */













/* mobile responsive style atart here  */

@media screen and (max-width: 576px) {

    
}